@model Product
@{
    ViewData["Title"] = "Create Product";
}
<div class="content-container">
    <div class="form-card">
        <h3 class="mb-3">Create Product</h3>
        <partial name="_ProductForm" model="Model" />
    </div>
</div>
